.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 24px;
    background-color: white;
    border-bottom: 1px solid gray;
    gap: 12px;
}
.title{
    font-style: 28px;
}
.date{
    font-style: 16px;
}
.dark{
    background-color: #23272f;
}
.light{
    background-color: white;
}